*
{
	padding: 0px;
	margin: 0px;
}

header
{
	width: 100%;
	background-color: #f7a839;
	background-image: url("../img/header.png");
	background-size: contain;
	text-align: center;
}

header img
{
	width: 20%;
}

nav
{
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  float: left;
  width: 100%;
}

nav a
{
	text-decoration: none;
	font-family: sans-serif;
}

nav a:nth-child(2) button
{
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

nav button
{
	background-color: #fff;
	color: grey;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: left;
	cursor: pointer;
	width: 33.33%;
	transition-duration: 0.4s;
}

nav button:hover
{
	  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
